* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header{
  padding: 3rem;
  width: 100%;
  position: fixed;
  top: 5;
  z-index: 10;

} */




body {
  background-color: #25c3eb2a;

}

.botonNav{
  background-color: #25c3eb00;
  border: none;

}

.tipografia {
  font-family: "Permanent Marker", cursive;
  color: #25c3ebb9;

  font-size: 30px;
  margin: 20px;
}

.pagContenedora {
  /* border: 1px solid #142ea1; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

h3{
    font-size: 15px;
}

.productoContainer {
  margin: 20px;
  padding: 2px 16px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #25c3eb36;
}
.productoContainer :hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.productoContainer img {
  width: 300px;
  height: 300px;
  padding: 2px 16px;
}

.productoContainer h3 {
  margin-bottom: 10px;
  margin-left: 20px;
}

.efecBoton {
  transition-duration: 0.4s;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  font-size: 15px;
  background-color: #249ac9d3;
  color: black;
  border: 2px solid #229fd1;


}

/*
 position: absolute;
right: 15px;
bottom: 10px; */

.efecBoton:hover {
  background-color: #0a1ed4;
  color: white;
}


/* #carrito{
  position: fixed;
 bottom: 0;
} */




footer {


    background-image: linear-gradient(to left, #808080, #918c8c); }

footer div{
    display: flex;


}






.contenedorAgregandoCar{
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color:rgb(255, 255, 255);
  background-color: rgba(10, 24, 219, 0.788);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.contenedorAgregandoCar::-webkit-scrollbar{
  display: none;
}

.headerPag{
  display: flex;
  justify-content: space-around;
  background-color: #229fd1;
  color: white;
  width: 100%;
}

.headerPagTitulo{
  justify-self: start;
}

.botonPag{
  cursor: pointer;
}


.contenedorAgregandoCar > .carritoContenidoPag{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.contenedorAgregandoCar > div > img{
  height: 120px;
  width: 120px;
}

.totalPag {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}


.borrarProducto{
  cursor: pointer;
}

.circulo-carrito{
  background-color: rgba(255, 0, 0, 0.808);
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 8px;
  position: absolute;
  display: none;
  flex-direction: column;
}
